# Foundations of Python Programming

In this module you will learn the basic building blocks of Python programs. Such as literals, operators, function calls, and variables.

1. Literals - like numbers and character strings
2. Operators - like + and *
3. Function calls - which take values as input/s and compute new values
4. Variables - which save values so they can be used later in the program

## Learning Objectives
1. Identify variables that reference an object of a particular type.
2. Convert type into another type
3. Simulate evaluation of an expression and assignment statement.
4. Use reassignment to increment a variable (accumulator pattern)
5. Get input from a user and convert the input to the appropriate type.
6. Identify the following types of values: strings, integers, floats, functions.
7. Recognize valid vs. invalid variable names.
8. Write an assignment statement.


### Values and Data Types

A value is one of the fundamental things - like a word or a number - that a program manipulates. Examples are 5 the result when you add the 2 + 3, and "Hello World!". These objects are classified into different classes, or data types.

The different basic data types are:
- integer - whole numbers (e.g. 4, -1, 3, 0)
- float - numbers with decimal (e.g. 1.25, 1.0, -5.7)
- strings - enclosed in quotation marks (e.g. "Hello World", "PSU")

In [1]:
x = 5
base = 12.5
name = 'Florence'

### Operators and Operands

**Operators** are special tokens that represents computations like addition, subtraction, multiplication, and division. The values the operator work on are called **operands**.

In [ ]:
20 + 32
5 ** 2
(5 + 9) * (15-7)

112

The asterisk * is the token for multiplication, and ** is the token for exponentiation. Remember if you want to see the results of the computation, use the word **print**. Add print(7+5) in line 4, then run the program.

The division operator / produces a floating point result even if the result is an integer. For example 4/2 is 2.0. If you want truncated division, which ignores the remainder, you can use the // operator. For example 5//2 is 2.

In [2]:
print(9/5)
print(5/9)
print(9//5)
print(7.0/3.0)
print(7.0//3.0)

1.8
0.5555555555555556
1
2.3333333333333335
2.0

The modulus operators works on integers and yields the remainder when the first operant is divided by the second. The modulus operator is a percent sign %.

In [3]:
print(7//3)
print(7%3)

2
1

### Function Calls

You are familiar with the idea of functions from high school algebra. For example you have f(x) = 3x + 2, then you might write f(5) and expect the get the value 17.

Python adopts a similar syntax for invoking function. If there is a named function foo that takes a single input, we can invoke foo on the value 5 by writing foo(5).

You will learn how to define a function later, for now, you just need to learn how to invoke or call a function and understand that the execution of the function returns a computed value.

In [ ]:
def square(number):
  return number*number

def sub(x, y):
  return x-y

print(square(3))
print(square(5))
print(sub(6,4))
print(sub(5,9))
n = square(6)

print(n)

9
25
2
-4
36

We defined two functions above **square** and **sub**. The square takes a single input parameter, and returns that input multiplied by itself. The sub function take two input parameters and returns the result of subtracting the second from the first.

The code in line 1-5 are the definition of the functions square and sub. The code in line 7 to 10 are the code that invokes the two functions.

When a function takes more than one input parameter like in `sub(x, y)`, inputs are separated by a comma.

Calling the function square and passing the input 5 produces 25, but you never see that in the output window. Why is that?

### Function calls as part of comple expression

You can also call a function that produces a number. Notice that the expression inside the innermost parentheses are resolved first.

In [ ]:
print(square(3) + 2)
print(sub(square(3), square(1+1)))

# 9, 4
# 9 - 4

11
5

Calling the name of the function refers to the function as an object. Typing the name of the function followed by parentheses invokes the function.

In [ ]:
print(square)
print(square(3))

<function square at 0x7f741e643680>
9

### Data Types

If you want to know what class (data type) a value falls into, you can use the **type** function. Check the example code below.

In [ ]:
print(type("Hello, World!"))
print(type(17))
print(type(3.2))
print(type(11))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>

Values like "17" and "3.2" look like numbers, but they are in quotation marks. They're strings!

Strings in Python can be enclosed in either single quote ' or double quotes ", or three of each ''' or """.

In [ ]:
print(type("17"))
print(type("3.2"))

print(type('This is a string.'))
print(type("And so is this."))
print(type("""and this."""))
print(type('''and even this...'''))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

You can put single quote inside double quoted string. Strings enclosed with three occurrences of either quote symbol are called **triple quoted** strings.

In [ ]:
print('''"Oh no", she exclaimed, "Ben's bike is broken!"''')

"Oh no", she exclaimed, "Ben's bike is broken!"

Strings can even span multiple lines, just like the sample below.

In [ ]:
print("""This message will span
several lines
of the text.""")

This message will span
several lines
of the text.

It doesn't matter whether you use single, double or the tree-of-a-kind quotes to surround your strings.

In [ ]:
print('This is a string.')
print("""And so is this.""")

This is a string.
And so is this.

### Type conversion functions

The conversion functions int, float, str will convert their arguments/parameters into type int, float and str respectively.

Note that # is a comment. Comments can be used to explain Python code. Comments can be used to make the code more readable. Comments can be used to prevent execution when testing code.

In [ ]:
print(3.14, int(3.14))
print(3.9999, int(3.9999))  # This doesn't round to the closest int!
print(3.0, int(3.0))
print(-3.999, int(-3.999))  # Note that the result is closer to zero
print("2345", int("2345"))  # parse a string to produce an int
print(17, int(17))          # int even works on integers
#print(13.5, int(13.5))

print("Hello world. ", 5, 3+4, 2)

3.14 3
3.9999 3
3.0 3
-3.999 -3
2345 2345
17 17
Hello world.  5 7 2

In [ ]:
print(float("123.45"))
print(type(float("123.45")))

123.45
<class 'float'>

In [ ]:
print(str(17))
print(str(123.45))
print(type(str(123.45)))

17
123.45
<class 'str'>

One common operation where you might need to do a type conversion is when you are concatenating several strings.

In [ ]:
val = 50 + 5
print("The value is " + str(val))

print("Hello " + "World")
print("2" + "4")

The value is 55
Hello World
24

To solve the error in the code above, convert val to string using str function.

### Variables

The variable is a name that refers to a value.

In [ ]:
message = "Hello World."
x = 15
pi = 3.14159

The variables above are message, x, and pi. The code makes three assignment statements. The assignment token, =, should not be confused with equality. The assignment statement links a variable name, on the left hand side of the operator, with a value on the right side. You'll get an error if you enter 15 = n.

Rules in naming variables:
1. should start with a letter or an underscore
2. can contain both letters and digits and underscore
3. underscore can appear in a name (e.g. my_name, last_name)
4. case sensitive (Bunny and bunny are different variables)
5. not a keyword

If you give a variable an illegal name, you get a syntax error. Examples below are illegal variable names.

In [ ]:
76trombones = "big parade"
more = 1000000
class = "Computer Science 101"

The class in line 3 is a Python keyword. Keywords has a specific funtion in Python language that's why they can't be used as variable names. The assignment statement in line 3 means you want to put "Computer Science 101" to class variable, but the word **class** has meaning already in Python language. 

Here is the list of Python Keywords and their meanings.
https://www.w3schools.com/python/python_ref_keywords.asp

It is legal to make more than one assignment to the same variable. A new assignment makes an existing variable refer to a new value.

In [ ]:
lee = 5
print(lee)
lee = 7
print(lee)

a = 5
b = a # after executing this line, a and b are now equal
print(a,b)
a = 3 # after executing this line, a and b are no longer equal
print(a,b)

5
7
5 5
3 5

Updating a variable by adding something to it is called increment, subtracting is called decrement. In Python += is used for incrementing, and -= for decrementing.

In [ ]:
x = 6
print(x)
x += 3    # increment x by 3 same as x = x + 3
print(x)
x -= 1    # decrement x by 1 same as x = x - 1
print(x)

6
9
8

### Order of Operations

Python follows the same precedence rules for its mathematical operators that mathematics does.

1. Parentheses (e.g. 2*(3-1) is 4)
2. Exponentiation  (e.g. 2**1+1 is 3, 3*1**3 is 3)
3. Multiplication and both division is higher than addition and subtraction (e.g. 2*3-1 is 5, 5-2*2 is 1)
4. Operators with the same precedence are evaluated from left-to-right. (e.g 6-3+2 is 3.

### Input

To make the program more interesting, let's try to get input from the user. To accomplish this you will use the built-in function called **input**.

The **input** function will provide a prompt string; in the example below, it is "Please enter your name: ". The user of the program can type some text and press **return**. The input function returns a **string** value, even if you ask the user to enter their age. It is your job to convert that string in an **integer**.

In [ ]:
n = input("Please enter your name: ")
print("Hello", n)

Hello Ivy

In [ ]:
# 
# Here is a program that converts number of seconds into more human
# readable counts of hours, minutes, and seconds.
#

str_seconds = input("Please enter the number of seconds you wish to convert: ")
total_secs = int(str_seconds)
hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes = secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining % 60
print("Hrs=", hours, "mins=", minutes, "secs=", secs_finally_remaining)

Please enter the number of seconds you wish to convert32
Hrs= 0 mins= 0 secs= 32



---
Practice Sets. 

Write Python statements after instructions below.


---

In [ ]:
# Write a single Python statement to accomplish the following:
# 1. Define the variables c, thisVariable, and q76354. Set values to 0.
# 2. Prompt the user to enter an integer, end your prompting message with a colon followed by a space.
# 3. Read an integer from the keyboard and store the value entered in variable "number".

In [ ]:
# Write a program that inputs three different integers, then prints the sum, the average, and the product.

# Sample output:

# Input the first number: 13
x = input("Input the first number: ")
# Input the second number: 27
# Input the third number: 14
# Sum is 54
# Average is 18
# Product is 4914

Input the first number: 1

In [ ]:
16 - 2 * 5 // 3 + 1

14

In [ ]:
# areaTriangle = 1/2*base*height

# input: base, height
# output: area of triangle
# math expression (process): 1/2*base*height

base = float(input("Enter the base: "))
height = float(input("Enter the height: "))
areaT = 1/2.0*base*height

print("The area of triangle is ", areaT)

Enter the base: 12.5
Enter the height: 36
The area of triangle is  225.0